* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --line-color: rgb(5, 5, 46);
}
.container {
  margin: 0 auto;
  width: 1140px;
}

.body {
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
.box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid var(--line-color);
  height: 90vh;
  margin-top: 15px;
}
